.backButton {
    margin-right: 10px;
}

.authBlock {
    background: rgba(239, 244, 255, 0.79);
    padding: 20px;
    border-radius: .5rem;
}

.stickyNav {
    position: sticky;
    top: 0;
    z-index: 10;
}

.translucent {
    opacity: 0.4;
    filter: alpha(opacity = 40); /* For IE */
}

body {
    /*position: relative;*/
    /*background-image: url("./images/background.jpg");*/
    background-size: 100%;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url("./images/background.jpg");
}